*{
	
	padding: 0;
	box-sizing: border-box;
 font-family: sans-serif;
     background-attachment: fixed; 
}
body{
	
	font-family: sans-serif;
	margin: 0;
	background: url(imagenfondo.jpg);
	background-size: cover;
	background-attachment: fixed; 
}
