.Header-top{
	 width: 100%;
	 height: 96px;
	 background: #E5ECEB;
	 box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(129, 131, 131,.6);
     box-shadow: 0 5px 15px rgba(0,0,0,.4);
}
.Division-de-header{
	width: 100%;
	height: 100%;
	margin: auto;
}
.logo-header{
	width: 500px;
	height: 95%;
	float: left;
	margin-top: 2px;
	margin-left: 25px;
	background: url(imagenfondo.jpg);
	background-size: cover;
	background-attachment: fixed; 
}
.Mune-header{
	width: 650px;
	height: 100%;
margin-left: 46%;
transition-property:transform;
transition-duration: 1s;
}
.Logo-Pequeño{
	width: 130px;
	height: 70%;
	float: left;
}
.iconprincipal{
margin-top: 25px;
	width: 45%;
	height: 75%;
	border-radius: 15px;
	margin-left: 30px;
	transition-duration:0.3s;
	transition-delay:0s;
}
.iconprincipal:hover{
transition-duration: 1.5s;
transform: rotate(360deg);
}
.Logo-SanJuan{
	width: auto;
	height: 99%;
	margin-top: 1px;
	transition-property: transform;
	transition-duration: 0.3s;
}
.Menu-Header-Generico{
	width: 100px;
	height:100px;
	float: right;
margin-top: 15px;
margin-right: -280px;
transition-property:transform;
transition-duration: 0.5s;

}
.Menu-Header-Generico li{
cursor: pointer;
}
.Menu-Header-Somos{
	width: 17%;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	float: right;
    margin: 12px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.Menu-Header-Ubicacion{
	width:17%;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	float: right;
    margin: 12px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80%;
     transition: all 0.2s linear;
}
.Menu-Header-Contactos-Empresa{
	width: 17%;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	float: right;
    margin: 12px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80%;
     transition: all 0.2s linear;
}
.Menu-Header-Servicios{
	width: 17%;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	float: right;
    margin: 12px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80%;
     transition: all 0.2s linear;
}
ul{
	list-style: none;
    display: ruby-base-group;
}
li{
	 float: right;

}

i{
	
          padding: 6px 15px;
          color: #ffffff;
          margin-top: 0;
       
          font-size: 25px;
}
.Menu-Header-Ubicacion ul li i b{
	padding: 0px 50px;
}
b{
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}
img{
	width: 100%;
	height:100%;
    display: inline-block;
    text-align: center;
}
.imagen{
	width: 50%;	
}


.Marcacion-Nosotros{
	width: 10px;
	height: 2px;
	margin-top: 85px;
	background: #FFFFFF;
	float: left;
}
.Despliegue-header-somos{
	margin-top: -605px;
    width: 840px;
    height: 420px;
	position: fixed;
	display: flex;
	margin-left: -150px;
   transition-delay:0.1s,0.099s,0.2s;
   z-index: 1;
}
.Menu-Header-Somos:hover + .Despliegue-header-somos{
	transition-property:margin-top,transform,box-shadow;
	transition-duration: 0s,0.8s,0.8s;
    transition-timing-function: 10s;
	margin-top:80px;
	transform: translateY(15px);
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
    margin-left: -150px;
 z-index: 1;
}
.Despliegue-header-somos:hover {
	display: flex;
	margin-top:80px;
	transform: translateY(15px);
		box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
    margin-left: -150px;
    z-index: 1;
}

.Sombra-Cintillo-1{
	width: 100%;
	height: 100%;
	position:relative;
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.4);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
     display: block;
     align-items: center;
     transition-duration: 0.5s;
}

.Empresa-Imagen{
	width: 70%;
    height:35%;

    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
}.Empresa-Imagen h1{
	color: #ECF0F1;
	font-size: 28px;
	font-weight: bolder;
	background: transparent;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	margin-right: auto;
	transition-duration: 0.2s;
}
.Info-imagen{
	width: 75%;
    height:50%;
     display: block;
     margin:auto;
     font-weight:500;
   
}
.Info-imagen p{
	color: #D0D3D4;
	font-size: 13px;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: left;
	transition-duration: 0.2s;
}

.Sombra-Cintillo-1:hover .Info-imagen p{
transform: scale(1.01);
	color: #ECF0F1;
}

.Cintillo1{
	width: 40%;
	height: 100%;
	position: relative;;
}
.Sombra-Cintillo-1:hover{
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.6);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.Cintillo2{
	width: 60%;
	height: 100%;
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(0, 64, 82,.9);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.Titulo-Cintillo-1{
	width: 50%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.Titulo-Cintillo-1 h1{
    font-size: 20px;
    color: #ECF0F1;
    background: transparent;
    margin-top: 35px;
    transition-duration: 0.2s;

}
.Desarrollo-Cintillo-1{
	width: 100%;
	height: 70%;
	display: flex;
}
.Logo-Cintillo-1{
	width: 60%;
	display: flex;
	align-items: center;

}
.Logo-Cintillo-1 img{
width: 75%;
height: 20%;
margin-left: auto;
transition-duration: 0.5s;
}
.Logo-Cintillo-1 img:hover{
	transform: scale(1.02);
}
.Texto-Cintillo-1{
	width: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.2s;
}
.Texto-Cintillo-1 p{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #D0D3D4;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 500;
    transition-duration: 0.2s;

}
.Texto-Cintillo-1 p:hover{
 color: #ECF0F1;
 transform: scale(1.02);
}





.Despliegue-header-ubicacion{
	margin-top: -605px;
	width: 840px;
    height: 420px;
	position: fixed;
	display: flex;
	margin-left: -150px;
   transition-delay:0.1s,0.099s,0.2s;
   z-index: 1;
}
.Menu-Header-Ubicacion:hover + .Despliegue-header-ubicacion{
	transition-property:margin-top,transform,box-shadow;
	transition-duration: 0s,0.8s,0.8s;
    transition-timing-function: 10s;
margin-top:80px;
transform: translateY(15px);
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
    margin-left: -150px;
    z-index: 1;
}
.Despliegue-header-ubicacion:hover {
	display: flex;
	margin-top:80px;
	transform: translateY(15px);
		box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
   margin-left: -150px;
    z-index: 1;
}
.Imagen-Cintillo-1{
position: absolute;
transition-duration: 0.8s;
}
.Imagen-Cintillo-2{
position: absolute;
transition-duration: 0.8s;
}
.Imagen-Cintillo-3{
position: absolute;
transition-duration: 0.8s;
}
.Cintillo1:hover .Imagen-Cintillo-1{
	transform:rotate(3deg);
}
.cintillo-3:hover .Imagen-Cintillo-2{
	transform:rotate(3deg);
}
.cintillo-5:hover .Imagen-Cintillo-3{
	transform:rotate(3deg);
}

.Sombra-Cintillo-2{
	width: 100%;
	height: 100%;
	position:relative;
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.5);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
     display: block;
     align-items: center;
     transition-duration: 0.5s;
}
.Empresa-Imagen-2{
	width: 70%;
    height:35%;

    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
}.Empresa-Imagen-2 h1{
	color: #ECF0F1;
	font-size: 28px;
	font-weight: bolder;
	background: transparent;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	margin-right: auto;
}
.Info-imagen-2{
	width: 75%;
    height:50%;
     display: block;
     margin:auto;
     font-weight:500;
   
}
.Info-imagen-2 p{
	color: #D0D3D4;
	font-size: 13px;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: left;
	margin-top: 70px;
	transition-duration: 0.3s;
}
.Cintillo-3{
	width: 40%;
	height: 100%;
	position: relative;;
}
.Sombra-Cintillo-2:hover{
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.6);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.Sombra-Cintillo-2:hover .Info-imagen-2 p{
transform: scale(1.01);
	color: #ECF0F1;
}
.Texto-Cintillo-2 p:hover{
 color: #ECF0F1;
 transform: scale(1.02);
}

.Cintillo-4{
	width: 60%;
	height: 100%;
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(0, 64, 82,.9);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.Titulo-Cintillo-2{
	width: 50%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.Titulo-Cintillo-2 h1{
    font-size: 20px;
    color: #ECF0F1;
    background: transparent;
    margin-top: 35px;

}
.Desarrollo-Cintillo-2{
	width: 100%;
	height: 100%;
	display: flex;
}
.Logo-Cintillo-2{
	width: 35%;
	align-items: center;
}
.Logo-Cintillo-2 img{
width: 75%;
height: 20%;
margin-left: auto;
}
.Logo-Cintillo-2 img:hover{
	transform: scale(0.95);
}
.Texto-Cintillo-2{
	width: 50%;
	width: 100%;

}
.Texto-Cintillo-2 p{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #ECF0F1;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 1000px;

}

.Caja-1{
	width: 44%;

	height: 13%;
	background: #FBA5C4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	margin: auto;
	margin-top: 55px;
	transition-duration: 0.5s;
	transition-timing-function:ease-in-out;
}
.Caja-1:hover{
transform: rotate(360deg);
}
.Caja-2:hover{
transform: rotate(360deg);
}
.Caja-3:hover{
transform: rotate(360deg);
}
.Caja-1 i{
	font-size: 35px;
	color: black;
}
.Caja-2 i{
	font-size: 30px;
	color: black;
}
.Caja-3 i{
	font-size: 35px;
	color: black;
}
.Titulo-Caja-1{
width: 100%;
height: 35%;
margin-top: 25px;
display: flex;
}
.Titulo-Caja-1 h1{
background: transparent;
color: #fff;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
margin-top: 25px;
}
.Desarollo-Caja-1{
width: 95%;
height: 70%;
margin-top: -15px;
margin-left: auto;
transition-duration: 0.3s;
}
.Desarollo-Caja-1 p{
width: 85%;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
padding-top: 10px;
transition-duration: 0.3s;
}

.Caja-2{
	width: 44%;
transition-duration: 0.5s;
	height: 13%;
	background: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	margin: auto;
	margin-top: 70px;
}
.Titulo-Caja-2{
width: 100%;
height: 35%;
margin-top: 0px;
display: flex;
}
.Desarollo-Caja-2{
width: 95%;
height: 70%;
margin-top: -25px;
margin-left: auto;
}
.Desarollo-Caja-2 p{
width: 85%;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
padding-top: 10px;
transition-duration: 0.3s;
}

.Titulo-Caja-2 h1{
background: transparent;
color: #fff;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}



.Caja-3{
	width: 44%;
transition-duration: 0.5s;
	height: 13%;
	background: #7BC3E7;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	margin: auto;
	margin-top: 75px;
}
.Titulo-Caja-3{
width: 100%;
height: 35%;
margin-top: -30px;
display: flex;
}
.Titulo-Caja-3 h1{
background: transparent;
color: #fff;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
margin-top: 25px;
}
.Desarollo-Caja-3{
width: 95%;
height: 70%;
margin-top: -15px;
margin-left: auto;
transition-duration: 0.3s;
}
.Desarollo-Caja-3 p{
width: 85%;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
padding-top: 10px;
transition-duration: 0.3s;
}








.Caja-1-info{
	width: 100%;
	height: 33.3%;

}
.Caja-2-info{
	width: 100%;
	height: 33.3%;
}
.Caja-3-info{
	width: 100%;
	height: 33.3%;
}
















.Menu-Header-Contactos-Empresa:hover + .Despliegue-header-Empresa{
	transition-property:margin-top,transform,box-shadow;
	transition-duration: 0s,0.8s,0.8s;
    transition-timing-function: 10s;
margin-top:80px;
transform: translateY(15px);
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
    margin-left: -150px;
    z-index: 1;
}
.Despliegue-header-Empresa:hover {
	display: flex;
	margin-top:80px;
	transform: translateY(15px);
		box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(129, 131, 131,.0);
    box-shadow: 0 5px 17px rgba(0,0,0,.9);
    margin-left: -150px;
    z-index: 1;
}
.Despliegue-header-Empresa{
	margin-top: -605px;
	width: 840px;
    height: 420px;
	position: fixed;
	display: flex;
	margin-left: -150px;
   transition-delay:0.1s,0.099s,0.2s;
   z-index: 1;
}
.Menu-Header-Contactos-Empresa b{
	margin-left: 5px;

}
.Sombra-Cintillo-3{
	width: 100%;
	height: 100%;
	position:relative;
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.5);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
     display: block;
     align-items: center;
     transition-duration: 0.5s;
}
.Empresa-Imagen-3{
	width: 70%;
    height:35%;

    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
}.Empresa-Imagen-3 h1{
	color: #ECF0F1;
	font-size: 28px;
	font-weight: bolder;
	background: transparent;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	margin-right: auto;
}
.Info-imagen-3{
	width: 75%;
    height:50%;
     display: block;
     margin:auto;
     font-weight:500;
   
}
.Info-imagen-3 p{
	color: #D0D3D4;
	font-size: 13px;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin-top: 90px;
}
.Info-imagen-3 p:hover{
	transform: scale(1.01);
	color: #ECF0F1;
}

.Cintillo-5{
	width: 40%;
	height: 100%;
	position: relative;;
}
.Sombra-Cintillo-3:hover{
	box-shadow: 0px 2px 5px 0px #909090;
	 background:rgba(0, 64, 82,.6);
     box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.Cintillo-6{
	width: 60%;
	height: 100%;
	box-shadow: 0px 2px 5px 0px #909090;
	background:rgba(0, 64, 82,.9);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.Titulo-Cintillo-3{
	width: 50%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.Titulo-Cintillo-3 h1{
    font-size: 20px;
    color: #ECF0F1;
    background: transparent;
    margin-top: 35px;

}

.Logo-Cintillo-3{
	width: 35%;
	align-items: center;
}
.Logo-Cintillo-3 img{
width: 75%;
height: 20%;
margin-left: auto;
}
.Logo-Cintillo-3 img:hover{
	transform: scale(0.95);
}
.Texto-Cintillo-3{
	width: 50%;
	width: 100%;

}
.Texto-Cintillo-3 p{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #ECF0F1;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 1000px;

}
.Texto-Cintillo-3 p:hover{
 color: #ECF0F1;
 transform: scale(1.02);
}
.Desarrollo-Cintillo-3{
	width: 100%;
	height: 100%;
	display:block;
}
.Caja-1-Cintillo3{
width: 100%;
height: 50%;

}
.Caja-2-Cintillo3{
width: 100%;
height: 50%;
background: blue;
}
.Icon-Caja-1-Cintillo3{
	width: 25%;
	height: 100%;
	display: block;

}
.Icon-Caja-2-Cintillo3{
	width: 25%;
	height: 100%;

}
.Logo-Cintillo-1-1{
	width: 100%;
    height: 50%;
background: red;
	display: flex;
	justify-content: flex-end;
	align-items: inherit;
}
.Logo-Cintillo-1-1 i{
	display: flex;
	justify-content: center;
	align-items: center;
}
.Logo-Cintillo-2-1{
	width: 100%;
    height: 50%;
background: blue;
display: flex;
justify-content: flex-end;
	align-items: center;
}
.Logo-Cintillo-3-2{
	width: 100%;
    height: 50%;
    background: blue;
}
.Logo-Cintillo-4-2{
	width: 100%;
    height: 50%;
    background: blue;
}
.Caja-Cintillo-2-info{
	width:60%;
	height: 100%;
	background:#fff;
	float: left;

}





.Bar-Icon-Cintillo-3{
	width: 25%;
	height: 100%;

	float: left;
}
.Bar-Info-Cintillo-3{
	width: 75%;
	height: 100%;

	    float: right;
}
.icon-bar-1{
	width: 100%;
	height: 20%;

	display: flex;
	justify-content:flex-end;
	align-items: flex-end;
}
.icon-bar-1 i{
	margin-top: -100px;
}
.icon-bar-2 h2{
	font-size: 15px;
	margin-left: 20px;
}
.icon-bar-2{
	width: 100%;
	height: 12%;
	background:red; 
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon-bar-3{
	width: 100%;
	height:12%;
	background:black; 
}


.icon-bar-4{
	width: 100%;
	height: 20%;
	background:red; 
}
.icon-bar-5{
	width: 100%;
	height: 20%;
	background:black; 
}




.Bar-Info-Cintillo-3 .icon-bar-1{
	width: 100%;
	height: 20%;
    	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
}
.Bar-Info-Cintillo-3 .icon-bar-1 h1{
font-size: 19px;
	color: #ECF0F1;
	background: transparent;
}
.Bar-Info-Cintillo-3 .icon-bar-2{
	width: 100%;
	height: 12%;
	background:red; 
	display: flex;
	justify-content:flex-start;
	align-items: center;
}
.Bar-Info-Cintillo-3 .icon-bar-3{
	width: 100%;
	height: 12%;
	background:black; 
	display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Bar-Info-Cintillo-3 .icon-bar-4{
	width: 100%;
	height: 20%;
	background:red; 
}
.Bar-Info-Cintillo-3 .icon-bar-5{
	width: 100%;
	height: 20%;
	background:black; 
}